.container{
    width: 100%;
    padding: 0px;
}

.header {
    display: flex;
    padding: 0px;
    align-items: flex-end;
    height: 500px;
    background-image: linear-gradient(to bottom right, pink, purple);
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  /* padding: 15px; */
  border: 1px solid red;
}

.center {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  border: 1px solid green; 
  padding-left: 50px;
}

.left-header {
   padding-left: 200px;
}

.title-content{
    border: 1px solid yellow;
    height: 200px;
}

.title-image{
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}
.part2{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.btn{
    width: 200px;
    height: 40px;
    color: #650061;
    border: 1px solid palevioletred;
    border-radius: 41px;
}