
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 0px;
    margin: 0%;
}

.header {
    display: flex;
    padding: 0px;
    align-items: flex-end;
    /* height: 100vh; */
    height: 56vw;
    background-image: linear-gradient(to bottom right, #E756A2, #A028A9);
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 35%;}
.col-6 {width: 50%;}
.col-7 {width: 57.5%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  /* padding: 15px; */
  border: 1px solid red;
}

.center {
  display: flex;
  align-items: center;
  height: 100%;
  border: 1px solid green; 
}



.title-content{
    display: flex;
    padding-left: 7.7%;
    flex-direction: column;
    height: 75%;
    align-self: flex-end;
    justify-content: space-between;
    border: 1px solid yellow;

}

.title-image{
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0%;
    padding: 0%;
}
.part2{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.header-btn{
    width: 21vw;
    height: 7.5vh;
    margin: 5px 0;
    color: #650061;
    border: 1px solid palevioletred;
    border-radius: 41px;
    font-size: 2.4vw;
}

.start-quiz{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.start-quiz-btn{
    width: 65vw;
    height: 21.5vh;
    background-color: #9A24A9;
    font-size: 4.1vw;
    color: white;
    border-radius: 22px;
}

.tech-btn{
    font-family: 'Open Sans';
    font-size: 15px;
    border: none;
    background: none;
    height: 4.7vh;
    padding-left: 15px;
    margin: 0%;
}
.active-tech-btn{
    background-image: linear-gradient(to bottom right, #E756A2, #A028A9);
    border-radius: 50px;
    color: white;
    padding: 0 15px;
   
}

.typing-test{
    display: flex;
    justify-content: flex-end;
    padding-top: 10.3vh;
    margin: 0%;
    border-bottom: 1.7vh solid #2E353A;
}

.typing-btn{
    width: 41.5vw;
    height: 15.1vh;
    background-color: #9A24A9;
    font-size: 2.3vw;
    color: white;
    border-radius: 22px;
    border: none;
    margin-top: 40px;
}

.typing-test-content{
    padding-left: 6.2vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 0%;
    padding-bottom: 30px;
}

.typing-test-image{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    margin: 0%; 
    padding: 0%;
    padding-top: 25px;
}

.border{
    border-top: 1.7vh solid #2E353A;
    height: 20px;
    margin-bottom: 20px;
}

.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.app-bar{
    background-image: linear-gradient(to bottom right, #E756A2, #A028A9);
    height: 10vh;
    font-size: 5.2vh;
    color: white;
    padding-left: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0%;
}

.admin-page{
    display: flex;
}

.menu{
    display: flex;
    flex-direction: column;
    padding: 0%;
    padding-left: 2.5vw;
    background-color: #E5E5E5;
    height: 90vh;
    justify-content: flex-start;
    margin: 0%;
}

.menu-btn{
    font-family: 'Open Sans';
    font-size: 2.9vh;
    border: none;
    background: none;
    height: 4.7vh;
    padding-left: 0px;
    margin: 0%;
    text-align: start;
}

.menu-btns{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    border: 1px solid green;
    height: 50%;
    padding-top: 20px;
}

.add-content{
    padding-top: 20px;
    padding-left: 20px;
}

.add-content-btn{
    background-image: linear-gradient(to bottom right, #E756A2, #A028A9);
    border-radius: 50px;
    color: white;
    padding: 0 15px;
    border: none;
    width: 10vw;
    height: 6vh;
    margin-right: 1.5vw;
    font-size: 1.6vw;
}

.text-box{
    width: 46vw;
    border: 1px solid #C6C6C6;
    border-radius: 13px;
    height: 5vh;
    margin-bottom: 5px;
}

.option-btn-add{
    width: 4vw;
    border: 1px solid #C6C6C6;
    border-radius: 13px;
    height: 5vh;
    border-radius: 5px;
    background-color: green;
}

.option-btn-remove{
    width: 4vw;
    border: 1px solid #C6C6C6;
    border-radius: 13px;
    height: 5vh;
    border-radius: 5px;
    background-color: red;
}

.th{
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-image: linear-gradient(to right, #f336e3, #ac51a4);
    color: white;
    width: 35%;
}

.fa0{
    margin:0% 10px; 
    font-size:20px;
}

.fa1{
    margin:0% 10px; 
    font-size:20px;
    color: purple;
}


